body {
    margin: 0;
    padding: 0;
}

#stage{ 
    position: absolute;
    width: 1120px;
    height: 900px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('dk-image/background.jpg'); 
 }
 
 #kong {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('dk-image/dktr.png'); 
    width: 120px;
    height: 120px;
    top: 385px;
    left: 400px;
    border: 1px solid red;
 }

 #bananan{
     position: absolute;
     background-repeat: no-repeat;
     background-size:contain;
     background-image:url('dk-image/banaantr.png');
     width: 74px;
     height: 120px;
     top: 441px;
     left: 485px;
     border: 1px solid black;

 }
 